header{
  border:1px solid gray;
  margin-right:10px;
}
.banner{
  width:100%;
  height:auto;
}

body{
  margin:0;
}
.nav{
  display:flex;
  flex-direction:left;
  justify-content:space-around;
  font-size:26px;
  width:50%;
}
.nav-content{
  height:50px;
  
}
.center{
  justify-content:center;
  align-items:center;
}