header{
  border:1px solid gray;
  margin-right:10px;
}
.banner{
  width:100%;
  height:auto;
}

body{
  margin:0;
      font-family: sans-serif;
}
.nav{
  display:flex;
  flex-direction:left;
  justify-content:space-around;
  width:50%;
}
.nav-content{
  height:50px;
  color:#717171;
  box-sizing:border-box;
  cursor: pointer;
}
.center{
  justify-content:center;
  align-items:center;
  display:flex;
}
a{
  text-decoration:none;
  color:#717171;
}
*{
  box-sizing:border-box;
}