header{
  border:1px solid gray;
  margin-right:10px;
}
.banner{
  width:100%;
  height:auto;
}

body{
  margin:0;
    font-family: sans-serif;
}
.nav{
  display:flex;
  flex-direction:left;
  justify-content:space-around;
  width:50%;
}
.nav-content{
  height:50px;
  color:#717171;
  box-sizing:border-box;
}
.center{
  justify-content:center;
  align-items:center;
  display:flex;
}
a{
  text-decoration:none;
  color:#717171;
  cursor: pointer;
}
*{
  box-sizing:border-box;
}
li{
  list-style:none;
  border
}
.main{
  margin-top:10px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
.type{
  border:1px solid gray;
}
h3{
  margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  display:block;
}
.items{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.img-item{
  max-width: 100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
